!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title A Brand New nanoc Site - #{@item[:title]}
    %link{:href => "/stylesheets/documentation.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/stylesheets/pygments.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    
    / you don't need to keep this, but it's cool for stats!
    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/
  %body{"data-spy" => "scroll", "data-target" => "#toc"}
    .container
      .page
        %header{:role => "banner"}
          .name Whoops: Log Anything
        
        %nav
          %ul
            %li
              %a{:href => "#"} first
            %li
              %a{:href => "#"} second
        .content
          .main= yield
          .secondary
            %h2 Table of Contents
            #toc
    %script{ :src => "http://code.jquery.com/jquery-1.7.2.min.js" }
    %script{ :src => "/javascripts/scrollspy.js" }
    %script{ :src => "/javascripts/jqtoc.js" }
    %script{ :src => "/javascripts/application.js" }
