/* line 17, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 66, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 42, content/assets/stylesheets/documentation.scss */
.mono, pre, code, tt {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

/* line 46, content/assets/stylesheets/documentation.scss */
body {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  background: url("/assets/images/ui/light_noise_diagonal.png");
  font-size: 16px;
}

/* line 52, content/assets/stylesheets/documentation.scss */
h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

/* line 57, content/assets/stylesheets/documentation.scss */
p {
  margin-top: 1.5em;
}

/* line 61, content/assets/stylesheets/documentation.scss */
a {
  text-decoration: none;
  color: #7694a8;
}
/* line 64, content/assets/stylesheets/documentation.scss */
a:hover {
  text-decoration: underline;
}
/* line 65, content/assets/stylesheets/documentation.scss */
a:visited {
  color: #8976a8;
}

/* line 68, content/assets/stylesheets/documentation.scss */
.container {
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: white;
  margin-left: 2em;
}

/* line 76, content/assets/stylesheets/documentation.scss */
.page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0;
}
/* line 38, /Users/daniel/.rvm/gems/ree-1.8.7-2011.03/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 82, content/assets/stylesheets/documentation.scss */
.page header, .page footer {
  clear: both;
}
/* line 83, content/assets/stylesheets/documentation.scss */
.page header {
  border-top: 4px solid #767fa8;
}
/* line 85, content/assets/stylesheets/documentation.scss */
.page header .name {
  font-size: 1.875em;
  line-height: 1.6em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}
/* line 92, content/assets/stylesheets/documentation.scss */
.page nav {
  clear: both;
  background: #b5c5cf;
}
/* line 96, content/assets/stylesheets/documentation.scss */
.page nav li {
  display: inline-block;
}
/* line 99, content/assets/stylesheets/documentation.scss */
.page nav li a {
  display: block;
  padding: 0 .5em;
  color: #333;
}
/* line 103, content/assets/stylesheets/documentation.scss */
.page nav li a:hover {
  text-decoration: none;
  background: #daedf9;
}
/* line 112, content/assets/stylesheets/documentation.scss */
.page .main {
  width: 74.576%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 115, content/assets/stylesheets/documentation.scss */
.page .main h2 {
  font-size: 2em;
  line-height: 0.75em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  border-left: 8px solid #767fa8;
  padding-left: 8px;
  margin-left: -16px;
}
/* line 124, content/assets/stylesheets/documentation.scss */
.page .main h3 {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background: #f3fafe;
  border-left: 4px solid #b5c5cf;
  padding-left: 8px;
  margin-left: -12px;
}
/* line 135, content/assets/stylesheets/documentation.scss */
.page .secondary {
  width: 23.729%;
  float: left;
  margin-right: 1.695%;
  display: inline;
  position: fixed;
}

/* line 145, content/assets/stylesheets/documentation.scss */
pre {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
