/* line 1, content/assets/stylesheets/pygments.scss */
.code.pygments .hll {
  background-color: #ffffcc;
}

/* line 2, content/assets/stylesheets/pygments.scss */
.code.pygments {
  border-left: 2px solid #eee;
  padding-left: 8px;
  margin-left: -10px;
}

/* line 3, content/assets/stylesheets/pygments.scss */
.code.pygments .c {
  color: #008800;
  font-style: italic;
}

/* Comment */
/* line 4, content/assets/stylesheets/pygments.scss */
.code.pygments .err {
  border: 1px solid #FF0000;
}

/* Error */
/* line 5, content/assets/stylesheets/pygments.scss */
.code.pygments .k {
  color: #AA22FF;
  font-weight: bold;
}

/* Keyword */
/* line 6, content/assets/stylesheets/pygments.scss */
.code.pygments .o {
  color: #666666;
}

/* Operator */
/* line 7, content/assets/stylesheets/pygments.scss */
.code.pygments .cm {
  color: #008800;
  font-style: italic;
}

/* Comment.Multiline */
/* line 8, content/assets/stylesheets/pygments.scss */
.code.pygments .cp {
  color: #008800;
}

/* Comment.Preproc */
/* line 9, content/assets/stylesheets/pygments.scss */
.code.pygments .c1 {
  color: #008800;
  font-style: italic;
}

/* Comment.Single */
/* line 10, content/assets/stylesheets/pygments.scss */
.code.pygments .cs {
  color: #008800;
  font-weight: bold;
}

/* Comment.Special */
/* line 11, content/assets/stylesheets/pygments.scss */
.code.pygments .gd {
  color: #A00000;
}

/* Generic.Deleted */
/* line 12, content/assets/stylesheets/pygments.scss */
.code.pygments .ge {
  font-style: italic;
}

/* Generic.Emph */
/* line 13, content/assets/stylesheets/pygments.scss */
.code.pygments .gr {
  color: #FF0000;
}

/* Generic.Error */
/* line 14, content/assets/stylesheets/pygments.scss */
.code.pygments .gh {
  color: #000080;
  font-weight: bold;
}

/* Generic.Heading */
/* line 15, content/assets/stylesheets/pygments.scss */
.code.pygments .gi {
  color: #00A000;
}

/* Generic.Inserted */
/* line 16, content/assets/stylesheets/pygments.scss */
.code.pygments .go {
  color: #808080;
}

/* Generic.Output */
/* line 17, content/assets/stylesheets/pygments.scss */
.code.pygments .gp {
  color: #000080;
  font-weight: bold;
}

/* Generic.Prompt */
/* line 18, content/assets/stylesheets/pygments.scss */
.code.pygments .gs {
  font-weight: bold;
}

/* Generic.Strong */
/* line 19, content/assets/stylesheets/pygments.scss */
.code.pygments .gu {
  color: #800080;
  font-weight: bold;
}

/* Generic.Subheading */
/* line 20, content/assets/stylesheets/pygments.scss */
.code.pygments .gt {
  color: #0040D0;
}

/* Generic.Traceback */
/* line 21, content/assets/stylesheets/pygments.scss */
.code.pygments .kc {
  color: #AA22FF;
  font-weight: bold;
}

/* Keyword.Constant */
/* line 22, content/assets/stylesheets/pygments.scss */
.code.pygments .kd {
  color: #AA22FF;
  font-weight: bold;
}

/* Keyword.Declaration */
/* line 23, content/assets/stylesheets/pygments.scss */
.code.pygments .kn {
  color: #AA22FF;
  font-weight: bold;
}

/* Keyword.Namespace */
/* line 24, content/assets/stylesheets/pygments.scss */
.code.pygments .kp {
  color: #AA22FF;
}

/* Keyword.Pseudo */
/* line 25, content/assets/stylesheets/pygments.scss */
.code.pygments .kr {
  color: #AA22FF;
  font-weight: bold;
}

/* Keyword.Reserved */
/* line 26, content/assets/stylesheets/pygments.scss */
.code.pygments .kt {
  color: #00BB00;
  font-weight: bold;
}

/* Keyword.Type */
/* line 27, content/assets/stylesheets/pygments.scss */
.code.pygments .m {
  color: #666666;
}

/* Literal.Number */
/* line 28, content/assets/stylesheets/pygments.scss */
.code.pygments .s {
  color: #BB4444;
}

/* Literal.String */
/* line 29, content/assets/stylesheets/pygments.scss */
.code.pygments .na {
  color: #BB4444;
}

/* Name.Attribute */
/* line 30, content/assets/stylesheets/pygments.scss */
.code.pygments .nb {
  color: #AA22FF;
}

/* Name.Builtin */
/* line 31, content/assets/stylesheets/pygments.scss */
.code.pygments .nc {
  color: #0000FF;
}

/* Name.Class */
/* line 32, content/assets/stylesheets/pygments.scss */
.code.pygments .no {
  color: #880000;
}

/* Name.Constant */
/* line 33, content/assets/stylesheets/pygments.scss */
.code.pygments .nd {
  color: #AA22FF;
}

/* Name.Decorator */
/* line 34, content/assets/stylesheets/pygments.scss */
.code.pygments .ni {
  color: #999999;
  font-weight: bold;
}

/* Name.Entity */
/* line 35, content/assets/stylesheets/pygments.scss */
.code.pygments .ne {
  color: #D2413A;
  font-weight: bold;
}

/* Name.Exception */
/* line 36, content/assets/stylesheets/pygments.scss */
.code.pygments .nf {
  color: #00A000;
}

/* Name.Function */
/* line 37, content/assets/stylesheets/pygments.scss */
.code.pygments .nl {
  color: #A0A000;
}

/* Name.Label */
/* line 38, content/assets/stylesheets/pygments.scss */
.code.pygments .nn {
  color: #0000FF;
  font-weight: bold;
}

/* Name.Namespace */
/* line 39, content/assets/stylesheets/pygments.scss */
.code.pygments .nt {
  color: #008000;
  font-weight: bold;
}

/* Name.Tag */
/* line 40, content/assets/stylesheets/pygments.scss */
.code.pygments .nv {
  color: #B8860B;
}

/* Name.Variable */
/* line 41, content/assets/stylesheets/pygments.scss */
.code.pygments .ow {
  color: #AA22FF;
  font-weight: bold;
}

/* Operator.Word */
/* line 42, content/assets/stylesheets/pygments.scss */
.code.pygments .w {
  color: #bbbbbb;
}

/* Text.Whitespace */
/* line 43, content/assets/stylesheets/pygments.scss */
.code.pygments .mf {
  color: #666666;
}

/* Literal.Number.Float */
/* line 44, content/assets/stylesheets/pygments.scss */
.code.pygments .mh {
  color: #666666;
}

/* Literal.Number.Hex */
/* line 45, content/assets/stylesheets/pygments.scss */
.code.pygments .mi {
  color: #666666;
}

/* Literal.Number.Integer */
/* line 46, content/assets/stylesheets/pygments.scss */
.code.pygments .mo {
  color: #666666;
}

/* Literal.Number.Oct */
/* line 47, content/assets/stylesheets/pygments.scss */
.code.pygments .sb {
  color: #BB4444;
}

/* Literal.String.Backtick */
/* line 48, content/assets/stylesheets/pygments.scss */
.code.pygments .sc {
  color: #BB4444;
}

/* Literal.String.Char */
/* line 49, content/assets/stylesheets/pygments.scss */
.code.pygments .sd {
  color: #BB4444;
  font-style: italic;
}

/* Literal.String.Doc */
/* line 50, content/assets/stylesheets/pygments.scss */
.code.pygments .s2 {
  color: #BB4444;
}

/* Literal.String.Double */
/* line 51, content/assets/stylesheets/pygments.scss */
.code.pygments .se {
  color: #BB6622;
  font-weight: bold;
}

/* Literal.String.Escape */
/* line 52, content/assets/stylesheets/pygments.scss */
.code.pygments .sh {
  color: #BB4444;
}

/* Literal.String.Heredoc */
/* line 53, content/assets/stylesheets/pygments.scss */
.code.pygments .si {
  color: #BB6688;
  font-weight: bold;
}

/* Literal.String.Interpol */
/* line 54, content/assets/stylesheets/pygments.scss */
.code.pygments .sx {
  color: #008000;
}

/* Literal.String.Other */
/* line 55, content/assets/stylesheets/pygments.scss */
.code.pygments .sr {
  color: #BB6688;
}

/* Literal.String.Regex */
/* line 56, content/assets/stylesheets/pygments.scss */
.code.pygments .s1 {
  color: #BB4444;
}

/* Literal.String.Single */
/* line 57, content/assets/stylesheets/pygments.scss */
.code.pygments .ss {
  color: #B8860B;
}

/* Literal.String.Symbol */
/* line 58, content/assets/stylesheets/pygments.scss */
.code.pygments .bp {
  color: #AA22FF;
}

/* Name.Builtin.Pseudo */
/* line 59, content/assets/stylesheets/pygments.scss */
.code.pygments .vc {
  color: #B8860B;
}

/* Name.Variable.Class */
/* line 60, content/assets/stylesheets/pygments.scss */
.code.pygments .vg {
  color: #B8860B;
}

/* Name.Variable.Global */
/* line 61, content/assets/stylesheets/pygments.scss */
.code.pygments .vi {
  color: #B8860B;
}

/* Name.Variable.Instance */
/* line 62, content/assets/stylesheets/pygments.scss */
.code.pygments .il {
  color: #666666;
}

/* Literal.Number.Integer.Long */
