%table.details.bordered-table
  %thead
    %tr
      %th.key Key
      %th Value
  %tr
    %td.key Message
    %td.value= event.message
  - event.details.to_a.sort{|a,b| a[0] <=> b[0]}.each do |detail|
    %tr
      %td.key= detail.first
      %td.value= format_detail(detail.last)