%table.details
  %tr
    %td.label Message
    %td.value= event.message
  - event.details.to_a.sort{|a,b| a[0] <=> b[0]}.each do |detail|
    %tr
      %td.label= detail.first
      %td.value= format_detail(detail.last)