// Imports -----------------------------------------------------------
@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/typography/vertical_rhythm"; // http://compass-style.org/reference/compass/typography/vertical_rhythm/
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/text-shadow";

@import "susy"; // grid

// Susy variables -----------------------------------------------------
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

// Fonts --------------------------------------------------------------
@mixin sans-family {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin serif-family {
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}

@mixin monospace-family {
  font-family: "Bitstream Vera Sans Mono", monospace;
}

// Colors
$purple: #767fa8;
$light-purple-bg: #eeeff4;
$dark-teal: #b5c5cf;
$light-teal: #daedf9;
$light-teal-bg: #f3fafe;

// To customize vertical ryhthm, see http://compass-style.org/reference/compass/typography/vertical_rhythm/
@include establish-baseline;


// actual css customization
.mono {
  @include monospace-family;
}

body {
  @include serif-family;
  background:url("/assets/images/ui/light_noise_diagonal.png");
  font-size:16px;
}

h1 {
  @include adjust-font-size-to(40px);
}


p {
  @include leader;
}

a {
  text-decoration: none;
  color: #7694a8;
  &:hover { text-decoration: underline; }
  &:visited { color: #8976a8; }
}

.container {
  @include padding-trailer;
  @include trailer;
  @include single-box-shadow;
  background: white;
  margin-left: 2em;
}

.page {
  // page acts as a container for our grid.
  @include container;
  margin:0;

  // header and footer are full-width by default.
  header, footer { clear: both; }
  header {
    border-top: 4px solid $purple;
    .name {
      @include adjust-font-size-to(30px);
      @include sans-family;
      text-align: left;
    }
  }

  nav {
    clear: both;
    background: $dark-teal;

    li {
      display:inline-block;

      a {
        display: block;
        padding: 0 .5em;
        color: #333;
        &:hover {
          text-decoration: none;
          background: $light-teal;
        }
      }
    }
  }

  // main content spans 6 of those 9 columns.
  .main {
    @include span-columns(9 omega,12);
    
    h2 {
      @include adjust-font-size-to(32px);
      @include leader(1, 32px);
      @include trailer(1, 32px);
      border-left: 8px solid $purple;
      background: $light-purple-bg;
      padding-left: 8px;
      margin-left: -16px;
    }

    h3 {
      @include adjust-font-size-to(24px, 1);
      @include leader(1, 24px);
      @include trailer(1, 24px);

      background: $light-teal-bg;
      border-left: 4px solid $dark-teal;
      padding-left: 8px;
      margin-left: -12px;
    }
  }
  .secondary{
    @include span-columns(3, 12);
    @include leader;
    position: fixed;
  }
}

pre, code, tt {
  @extend .mono;
}

pre {
  @include trailer;
  @include leader;
}
