.services
  %strong services:
  = summarize_filter(filter.service)
.environments
  %strong environments:
  = summarize_filter(filter.environment)
.event_types
  %strong event types:
  = summarize_filter(filter.event_type)